* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}

h1 {
font-size: 50px;
line-height: 65px;
color: #fff;
}

h2 {
font-size: 45px;
line-height: 55px;
color: #fff;
}

h4 {
font-size: 20px;
color: #fff;
}

h6 {
font-weight: 700;
font-size: 15px;
}

p {
font-size: 15px;
color: #fff;
margin: 15px 0 20px 0;
}

.feature.section-p1 {
padding: 40px 80px;
}

.section-m1 {
margin: 40px 0;
}

body {
width: 100%;
}

.header {
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 80px;
background: #000000;
box-shadow: 0 5px 15px rgba(0,0,0,0.06);
z-index: 999;
position: sticky;
top: 0;
left: 0;
}

.header img.logo {
width: 10%;
height: 10%;
}

.navbar {
display: flex;
align-items: center;
justify-content: center;
}

.navbar li {
list-style: none;
padding: 0 20px;
}

.navbar li a {
text-decoration: none;
font-size: 15px;
font-weight: 600;
color: #fff;
transition: 0.5s ease;
}

.hero {
background-image: url("https://media.gq.com/photos/6478d4a81cd547b0719a51d1/16:9/w_2560%2Cc_limit/yeezys.jpg");
height: 100vh;
width: 100%;
background-size: cover;
background-position: top 25% right 0;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
position: relative;
}

.hero-overlay {
background-color: #000;
width: 100%;
height: 100%;
opacity: 0.6;
position: absolute;
top: 0;
}

.hero .hero-text {
color: #fff;
padding: 0 100px;
z-index: 1;
}

.hero .hero-text h1 h2 h4 {
margin-bottom: 30px;
}

.mySlides {
display: none;}
img {vertical-align: middle;}

.slideshow-container {
max-width: 500px;
max-height: 300px;
position: relative;
margin: auto;
}

.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

.dot {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
opacity: 0;
}

.feature {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.feature .fe-box img {
width: 100%;
}

.fe-box {
width: 230px;
height: 250px;
border-radius: 5px;
box-shadow: 2px 2px 15px rgba(70, 62, 221, 0.1);
}

.fe-box:hover {
box-shadow: 5px 5px 25px rgba(27, 25, 80, 0.3);
transition: all 0.2s;
}

.fe-box h6 {
text-align: center;
}

.product {
text-align: center;
}

.product.section-p1 {
padding: 40px 80px;
}

.product .pro {
width: 25%;
min-width: 250px;
padding: 10px 12px;
border: 1px solid bisque;
border-radius: 25px;
}

.product .pro img {
width: 100%;
border-radius: 20px;
}



